.container {
  padding: 7.5rem 6.25rem;
  position: relative;
  overflow: hidden;
}

.splash {
  background-image: url("../images/about/blue-about-shape.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: auto;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  z-index: -1;
}

.about {
  padding: 2rem;
}

.smallTitle {
  color: var(--white-color);
  margin: 0;
}

.subtitle {
  color: var(--white-color);
  margin-top: 1rem;
}

.card {
  position: absolute;
}

/* tablet and up */
@media (min-width: 600px) {
  .col_0 {
    width: 60%;
  }

  .col_1 {
    width: 40%;
  }

  .col_2 {
    width: 60%;
  }
}

@media (min-width: 992px) {
  .subtitle {
    max-width: 800px;
  }

  .accomplishment35 {
    top: 1rem;
    right: 1rem;
  }

  .skill25 {
    top: 9rem;
    right: -21rem;
  }

  .result19 {
    top: 17.5rem;
    right: -11rem;
  }

  .skill22 {
    top: 34.375rem;
    right: -2rem;
  }

  .accomplishment34 {
    display: none;
  }
}

@media (min-width: 1090px) {
  .subtitle {
    max-width: 450px;
  }

  .accomplishment35 {
    top: 1rem;
    right: 11rem;
  }

  .skill25 {
    top: 9rem;
    right: -11rem;
  }

  .result19 {
    top: 17.5rem;
    right: 1rem;
  }

  .skill22 {
    top: 34.375rem;
    right: 8rem;
  }

  .accomplishment34 {
    display: none;
  }
}

@media (min-width: 1250px) {
  .accomplishment35 {
    top: 1rem;
    right: 21rem;
  }

  .skill25 {
    top: 9rem;
    right: 1rem;
  }

  .result19 {
    top: 17.5rem;
    right: 11rem;
  }

  .skill22 {
    top: 34.375rem;
    right: 18rem;
  }

  .accomplishment34 {
    top: 42.1875rem;
    right: -14rem;
    display: inline;
  }
}

@media (min-width: 1350px) {
  .splash {
    background-size: contain;
  }
}
