.container {
  padding: 7.5rem 6.25rem;
  position: relative;
}

.splash {
  background-image: url("../images/about/blue-about-shape.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: auto;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  z-index: -1;
}

.about {
  padding: 2rem;
}

.smallTitle {
  color: var(--white-color);
  margin: 0;
}

.subtitle {
  max-width: 450px;
  color: var(--white-color);
  margin-top: 1rem;
}

/* tablet and up */
@media (min-width: 600px) {
  .col_0 {
    width: 50%;
  }

  .col_1 {
    width: 40%;
  }

  .col_2 {
    width: 60%;
  }
}

@media (min-width: 1350px) {
  .splash {
    background-size: contain;
  }
}
