.button {
  position: relative;
  background-color: var(--blue-color);
  color: var(--white-color);
  font-size: var(--p-font-size);
  font-family: 'Avenir-Black', sans-serif;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.button:focus {
  outline:0;
}

.button:hover {
  cursor: pointer;
}
