.button {
  background-color: var(--blue-color);
  color: var(--white-color);
  font-size: var(--p-font-size);
  font-family: 'Avenir-Black', sans-serif;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.625rem 0 rgba(45, 45, 45, 32);
}

.button:focus {
  outline:0;
}

.button:hover {
  cursor: pointer;
}
