h5.cta {
  margin-bottom: 0;
  /*text-shadow: h-shadow v-shadow blur-radius color|none|initial|inherit;*/
  text-shadow: 0px 0px 6px rgba(255,255,255,.8);
}

button {
  margin-top: 1.6rem;
  padding: .4rem;
}

.wrapper {
  align-items: center;
  display: flex;
  margin-top: -50vw;
  position: absolute;
  width: 100%;
  height: 50vw;
}

.container {
  text-align: center;
  margin: 0 auto;
  width: 50%;
}

.caret {
  font-size: 2rem;
  margin: -1rem 0 0;
}

/* tablet and up */
@media (min-width: 600px) {
  .wrapper {
    margin-top: -25vw;
    height: 25vw;
  }

  .image {
    height: 25vw;
    width: 25vw;
  }
}