h5.cta {
  margin: 0;
  color: var(--white-color);
  letter-spacing: 1px;
}

button {
  margin: 3rem 0 1.375rem 0;
}

.wrapper {
  align-items: center;
  display: flex;
  margin-top: -50vw;
  position: absolute;
  width: 100%;
  height: 50vw;
}

.container {
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

.caret {
  font-size: 2rem;
  margin: -1rem 0 0;
  color: var(--white-color);
}

@media (min-width: 450px) {
  button {
    margin: 7rem 0 2.375rem 0;
  }
}

/* tablet and up */
@media (min-width: 600px) {
  .container {
    width: 50%;
  }

  .wrapper {
    margin-top: -33.33vw;
    height: 33.33vw;
  }

  .image {
    height: 33.33vw;
    width: 33.33vw;
  }
}

/* tablet and up */
@media (min-width: 992px) {
  .wrapper {
    margin-top: -25vw;
    height: 25vw;
  }

  .image {
    height: 25vw;
    width: 25vw;
  }
}
