h5.cta {
  margin: 0;
  color: var(--white-color);
  letter-spacing: 1px;
}

button {
  margin: 7rem 0 2.375rem 0;
}

.wrapper {
  align-items: center;
  display: flex;
  margin-top: -50vw;
  position: absolute;
  width: 100%;
  height: 50vw;
}

.container {
  text-align: center;
  margin: 0 auto;
  width: 50%;
}

.caret {
  font-size: 2rem;
  margin: -1rem 0 0;
  color: var(--white-color);
}

/* tablet and up */
@media (min-width: 600px) {
  .wrapper {
    margin-top: -25vw;
    height: 25vw;
  }

  .image {
    height: 25vw;
    width: 25vw;
  }
}
