.title {
  margin: 0 0 4rem;
}

.questionTitle {
  margin: 0 0 0.375rem 0;
}

.questionAnswer {
  margin: 0 0 3rem 0;
}

.photostrip {
  position: absolute;
}

.faq {
  position: relative;
  height: 100%;
}

.wrapper {
  width: 100%;
}

.container {
  background-color: var(--beige-color);
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.10);
  margin: 0 auto 11rem;
  padding: 2rem;
  position: relative;
  width: 90%;
  top: 6.50rem;
  z-index: 10;
}

.question {
  margin-bottom: 3rem;
}

.blueLoops {
  background-image: url("../images/faq/blueloops.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 33.375rem;
  width: 10.6875rem;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.greenBlob {
  background-image: url("../images/faq/greenblob.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 21.5rem;
  width: 34.1875rem;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.pinkDots {
  background-image: url("../images/faq/pinkdots.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 19.8125rem;
  width: 12.0625rem;
  position: absolute;
  right: 0;
  top: 30%;
  z-index: -2;
}

/* tablet and up */
@media (min-width: 768px) {
  .container {
    padding: 4.5rem 6.25rem 2rem;
    width: 85%;
  }
}
