.container {
  height: 28rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.logo {
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  height: 15rem;
  width: 15rem;
}

/* tablet and up */
@media (min-width: 600px) {
  .container {
    height: 27rem;
  }

  .logo {
    height: 20rem;
    width: 20rem;
  }
}