.container {
  display: flex;
  flex-flow: row wrap;
  padding-top: 3.125rem;
  position: relative;
}

.splash {
  background-image: url("../images/materials/yellow-wash.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: auto;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 200%;
  z-index: -1;
}

img.materials {
  width: 100%;
}

.col_2 {
  padding: 0 2rem 2rem;
  width: 100%;
}

.downloadLabel {
  margin: 0 0 1rem 0;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list li {
  font-size: var(--h2-font-size);
  font-family: 'ProspectusM-Reg', serif;
  line-height: 2;
}

.button {
  margin-top: 2.25rem;
}


/* tablet and up */
@media (min-width: 600px) {
  .col_1 {
    width: 60%;
  }

  .col_2 {
    padding-top: 7.5rem;
    width: 40%;
    padding-left: 4rem;
  }
}

@media (min-width: 1350px) {
  .splash {
    background-size: contain;
  }
}
