.container {
  display: flex;
  flex-flow: row wrap;
  padding-top: 2rem;
  position: relative;
}

.splash {
  background-image: url("../images/materials/yellow-wash.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: auto;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 200%;
  z-index: -1;
}

img.materials {
  width: 100%;
}

.col_2 {
  padding: 0 2rem 2rem;
  width: 100%;
}

.button_container {
  text-align: center;
}

/* tablet and up */
@media (min-width: 600px) {
  .col_1 {
    width: 60%;
  }

  .col_2 {
    padding-top: 6rem;
    width: 40%;
  }

  .button_container {
    text-align: left;
  }
}

@media (min-width: 1350px) {
  .splash {
    background-size: contain;
  }
}
