.container {
  display: flex;
  flex-flow: row wrap;
  height: 50vw;
  overflow: hidden;
  position: relative;
}

.containerOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(45,45,45,0.55) 40%, rgba(45,45,45,0) 100%);
}

.image {
  background-repeat: none;
  background-size: cover;
  height: 50vw;
  width: 50vw;
}

/* tablet and up */
@media (min-width: 600px) {
  .container {
    height: 33.33vw;
  }

  .image {
    height: 33.33vw;
    width: 33.33vw;
  }
}

@media (min-width: 992px) {
  .container {
    height: 25vw;
  }

  .image {
    height: 25vw;
    width: 25vw;
  }
}
