.container {
  display: flex;
  padding: 0 4rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 6rem;
}

.image {
  width: 100%;
  height: auto;
  align-self: center
}

.textContainer {
  width: 100%;
  margin-top: 2rem;
  margin-left: 0;
}

.titleContainer {
  display: flex;
  align-items: center;
  margin: 0;
}

.title {
  margin: 0 2.5rem 0 0;
}

.stageToggleContainer {
  display: flex;
  align-items: center;
}

.number {
  font-family: 'Avenir-Black', sans-serif;
  font-size: 10px;
}

.arrow {
  margin: 0 0.50rem;
}

.description {
  margin-top: 0.25rem;
}

@media (min-width: 768px) {
  .wrapper {
    flex-direction: row;
  }

  .image {
    width: 57%;
  }

  .textContainer {
    width: 40%;
    margin-left: 3.75rem;
    max-width: 22.75rem;
  }
}
