.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 360px;
  margin-top: 0;
}

.testimonials {
  text-align: center;
  width: 80%;
}

.quotationMark {
  transform: scale(.75);
}

/* tablet and up */
@media (min-width: 600px) {
  .quotationMark {
    transform: scale(1);
  }

  .container {
    margin-top: 2.5rem;
  }
}
