.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px; /* TODO: shorten longest quote?*/
}

.testimonials {
  text-align: center;
  width: 80%;
}

/* tablet and up */
@media (min-width: 600px) {
  .container {
    height: 360px;
  }
}