.container {
  text-align: center;
  padding: 0 1rem 4rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.value_statement {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 150px;
  width: 100%;
}

.joiner {
  width: 100%;
  font-size: var(--h2-font-size);
  font-family: 'ProspectusM-Reg', serif;
}

.statement {
  text-align: center;
  width: 80%;
}

.value {
  font-family: 'Caveat', cursive;
  font-size: 24px;
  line-height: 35px;
  border-bottom: 1px solid var(--almost-black-color);
  white-space: nowrap;
}

.statement:global(#accomplishment) .value {
  border-color: var(--yellow-color);
}

.statement:global(#accomplishment) .title {
  color: var(--yellow-color);
}

.statement:global(#skill) .value {
  border-color: var(--blue-color);
}

.statement:global(#skill) .title {
  color: var(--blue-color);
}

.statement:global(#result) .title {
  color: var(--green-color);
}

.statement:global(#result) .value {
  border-color: var(--green-color);
}

.title {
  margin: 1.25rem 0 3rem 0;
  letter-spacing: 0.12rem;
}

@media (min-width: 450px) {
  .value {
    font-size: 32px;
  }

  .statement {
    width: 65%;
  }
}

/* desktop up */
@media (min-width: 768px) {
  .container {
    padding: 7.5rem 0;
  }

  .joiner {
    width: 14%;
    font-size: 18px;
  }

  .value {
    font-size: 22px;
  }

  .title {
    margin: 1.25rem 0 0 0;
  }

  .testimonials {
    padding: 3rem 0 4rem;
  }

  .value_statement {
    flex-direction: row;
  }

  .statement {
    text-align: center;
    width: 22%;
  }
}

@media (min-width: 1150px) {
  .value {
    font-size: 32px;
  }

  .joiner {
    font-size: var(--h2-font-size);
  }
}
