.container {
  text-align: center;
  padding: 1.3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.value_statement {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 150px;
  width: 100%;
}

.joiner {
  width: 100%;
}

.statement {
  text-align: center;
  width: 65%;
}

.value {
  font-family: cursive;
  border-bottom: 1px solid var(--almost-black-color);
}

/* desktop up */
@media (min-width: 768px) {
  .testimonials {
    padding: 3rem 0 4rem;
  }

  .value_statement {
    flex-direction: row;
  }

  .joiner {
    width: 14%;
  }

  .statement {
    text-align: center;
    width: 22%;
  }
}
